
      
<div class="container-fluid bg-primary d-flex justify-content-center flex-column" style="height: 40vh; width:100%;">
    <div class="row">
        <div>
            <ul class="d-flex justify-content-center text-white" style="list-style-type: none;">
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="{% url 'category_list' %}" class="nav-link ms-4">Services</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link ms-4">Conatct</a></li>
                
            </ul>
        </div>
    </div>
  
    <div class="row">
        <div>
            <ul class="d-flex justify-content-center text-white" style="list-style-type: none;">
                <li class="nav-item"><a href="https://www.facebook.com/extrememobiledetailingg5?mibextid=ZbWKwL " class="nav-link"><i class="fab fa-facebook"></i></a></li>
               
               
              
                <li class="nav-item"><a href=" https://www.instagram.com/extrememobiledetailing?igsh=YzljYTk1ODg3Zg== " class="nav-link ms-3"><i class="fab fa-instagram"></i></a></li>
                
                <li class="nav-item"><a href="https://wa.me/923055154190" class="nav-link ms-3"><i class="fab fa-whatsapp text-white fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center text-white">
        <p class="lead text-white">Extreme Mobile Detailing,&copy; All rights Reseved.</p>
      </div>
  </div>
  
  </div>